
/*********************************
*
* Author: Matzh
* Date:
* Comment:
*
**********************************/

p{
    font-size: 18px;
    font-family: Arial;
}

#header p {
    font-size: 24 px;
    color: blue;
}

a{
    text-decoration: underline;
    color: blue;
}

span{
    text-transform: uppercase;
}

h1{
    font-size: 32px;
}

#header {
    width: 100%;
    background-color: rgb(153, 153, 153);
}

/************************************
************************************/

h2{
    font-size: 24px;
    color: green;
}

#content-header{
    font-size: 18px;
    color: blue;
}

/* 
span{
    display: block;
    color: red
}                                     */

.deck{
    color: green;
}

/***********************************************
 
wymuszenie na przeglądarce nadpisania
    przykład:
        p {
            color: red !important;
        }

        #main-content p{
            color: green;
        }
_____________________________________________________

Jednakowy tekst stronie:

        p, span, a, li{
            color: red;
            font-size: 14 px;
            font-weight: bold;
            font-family: Arial;
        }

______________________________________________________


*****************************************************/

#main-div > p{
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

/* ">" wyłącza z polecenia wewnętrzny div "sub-div" 

_____________________________________________________*/ 

#all-articles h3 + p{
    color: purple;
}


/***********************************************
    span[class]{
        color: purple;
    }
        tylko <span> z class

    div[id]{
        background: grey;
    }

        div[id] - tylko divy, które mają ID.

    a[title="Search engine"]{
        color: red;
    }
        tylko linki z title "Search engine". 

****************************************************/

    a[title="Google"]{
        color: red;
    }

    a[href$="pdf"]{
        color: purple;
    }

    a:hover{
        color: green;
    }
    /* Po najechaniu kursorem na link tekst zmienia kolor */

    a:active{
        color: orange;
    }
    /* Zmiana koloru przy kliknięciu w link */

    a:visited{
        color: darkblue;
    }
    /* Odwiedzony link */ 

    /* ___________________________________________________ */

    article p:first-child{
        font-weight: bold;
    }

    article p:last-child{
        color: orange;
    }

    /* <article>
            <h2>Article Title</h2> ------ FIRST CHILD
            <p>First child: tekst tekst tekst tekst tekst tekst tekst</p>
            <p>First child: tekst tekst tekst tekst tekst tekst tekst</p>
            <hr> ------ LAST CHILD

        Żeby wyznaczyć styl dla pierwszego p z article:
            article p:first-of-type{
                font-weight: bold;
            }

    *********************************************************/

    li:nth-child(5), li:nth-child(7){
        font-weight: bold
    }
/*
    li:nth-child(even){
        background: green;
    }

    li:nth-child(odd){
        background: white;
    }                    
    
    li:nth-child(2n+1){
        background: green;
            ------- wszystkie oprócz pierwszego (0 x 2 +1 ) 
    
    article:nth-of-type(1){
        background: green;
    }
    
    *********************************************************/

    article.combining-selectors{
        background: green;
    }

    /* aktywny:
    article p:last-child{
        color: orange;        */

    .box{
        margin: 30px 20px 15px 5px;
        padding: 30px;
        border: 1px solid #000000;
        border-radius: 25%;
        width: 400px;
        height: 200px;
    }
    
    .box2{
        margin: 30px auto;
        padding: 30px;
        border: 4px solid #000000;
        border-radius: 30px 70px 50px 15px;
        width: 400px;
        height: 200px;
    }

    .dashed{
        border: 1px blue dashed;
        width: 100px;
        height: 50px;
    }

    .dotted{
        border: 1px blue dotted;
        width: 100px;
        height: 50px;
    }

    .double{
        border: 4px blue double;
        width: 100px;
        height: 50px;
    }

    .groove{
        border: 4px blue groove;
        width: 100px;
        height: 50px;
    }

    .inset{
        border: 4px blue inset;
        width: 100px;
        height: 50px;
    }

    .outset{
        border: 4px blue outset;
        width: 100px;
        height: 50px;
    }

    .ridge{
        border: 1px blue ridge;
        width: 100px;
        height: 50px;
    }

    .solid{
        border: 1px blue solid;
        width: 100px;
        height: 50px;
    }

    .block{
        padding: 10px;
        margin: 10px;
        border: 1px solid #000000
    }

    .inline{
        padding: 10px;
        margin: 10px;
        border: 1px solid #000000
    }