* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 150%;
    
}

/********************************* HEADER ************************************/

.header {
    background-attachment: fixed;
    background-image: url(img/header.png);
    background-size: cover; 
    height: 100vh;
    width: 100%;
}

.menu__switch  {
	display: none
}

.menu__label  {
	display: none
}

nav {
    margin-top: 25vh;
    margin-left: 5vw;
    position: absolute;
}

nav a {
    background-color: rgba(0, 0, 0, 0.555);
    border: 1px solid rgb(25, 113, 196);
    border-radius: 4px;
    color: white;
    display: block;
    font-size: 1.5rem;
    padding: 3ch;
    text-align: center;
    text-decoration-line: none;
    width: 20vw;
}

nav a:hover {
    background-color: rgba(25, 113, 196, 0.24);
    color: white;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.header__h {
    background-color: rgba(0, 0, 0, 0.877);
    border: 1px solid rgb(25, 113, 196);
    border-radius: 10px;
    color: white;
    margin-left: 33vw;
    margin-top: 27vh;
    padding: 18ex 1ch;
    position: absolute;
    text-align: center;
    width: 50%;
}

.header__h h1 {
    font-size: 3vw;
    letter-spacing: 0.7ch;
}

.header__h span {
    font-size: 1.3vw;
    letter-spacing: 1.7ch;
}

/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV MAIN VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/

.main {
    margin: 6ex auto;
    max-width: 65%;
    text-align: justify;
}

.main__h1 {
    font-size: 1.5rem;
    letter-spacing: 0.5ch;
    text-align: center;
    padding-top: 3ex;
}

/********************************* ABOUT ME *********************************/

.o__mnie--h1 {
    font-size: 1.5rem;
    letter-spacing: 0.5ch;
    margin-left: 45%;
}

.o__mnie {
    font-size: 1.2rem;
    position: relative;
}


hr {
    margin-bottom: 30px;
    margin-top: 30px;
}

.img__me {
    border: 1px solid rgba(226, 225, 225, 0.801);
    border-radius: 50%;
    float: left;
    margin: 0 4ch 0 0 ;
    padding: 3px;
    width: 25%;
}

/********************************* HOBBY ************************************/

.hobby h1 {
    display: inline;
    float: left;
}

.hobby__img {
    width: 32vw;
}

/********************************* SKILLS ************************************/

.skills__container {
    background-attachment: fixed;
    background-image: url(img/skills.jpeg);
    background-position: center;
    background-size: cover;
}

.skills__padding {
    padding: 5ch 0 5ch 20ch;
}

.skills__container span {
    text-align: center;
}

.skills__h {
    margin: 1ch 1ch 1ch 8ch; 
}

.skills {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid rgba(204, 204, 204, 0.932);
    border-radius: 10px;
    margin: 1ch 1ch 1ch 2ch; 
    padding: 1.5vw 0;
    width: 10vw;
    background-color: white;
    
}

.skills:hover {
    border: 1px solid white;
    border-radius: 10px;
}

.skills__flag {
    border-radius: 5px;
    box-shadow: 3px 3px 20px -5px rgba(0, 0, 0, 0.6); 
    height: 1.5rem;
    width: 2.2rem;
}

.skills__pro {
    height: 2rem;
    width: 2rem;
}

.skills__soft {
    height: 2rem;
    width: 2rem;
}

.skills__others {
    height: 1.5rem;
    width: 2.2rem;
}

/********************************* PROJECTS *********************************/

.projects {
    margin-bottom: 56%;
}

.project__div {
    border-radius: 10px;
    float: left;
    margin: 0.5% 0.5%;
    overflow: hidden;
    padding: 0;
    width: 49%;
}

.project__img {
    border-radius: 10px;
    transition-duration: 1s;
    width: 100%;
}

.project__img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
}

/********************************* CONTACT ************************************/

.contact {
    background-attachment: fixed;
    background-image: url(img/contact.png);
    background-size: cover; 
    width: 100%;
    height: 50vh;
}

.contact__button {
    background-color: #000000a1;
    border: 1.5px solid rgb(25, 113, 196);
    color: rgb(25, 113, 196);
    font-size: 1.5rem;
    margin-top: 12ch;
    margin-left: 16%;
    padding: 3ch 5ch;
    text-transform: uppercase;
    position: absolute;
    width: 473px;
}

.contact__button:hover {
    border: 1.5px solid rgb(128, 240, 255);
    color: rgb(128, 240, 255);

}

/********************************* FOOTER ************************************/

.footer {
    background-color: #000000;
    border-top: 3px solid rgb(25, 113, 196);
    color: rgb(25, 113, 196);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    padding: 5ex;
    text-align: center;
    width: 100%;
}

.menu__label {
    position: absolute;
    width: 10%;
}

.footer__img {
    width: 3ch;
    border: 2px solid white;
    border-radius: 50%;
    padding: 0;
    margin: 0 0 0 2%;
}

/********************************* RESPONSIVITY *******************************/

@media (max-width: 1420px) {
    .hobby__img {
        width:49.7%;
    }
}

@media (max-width: 1150px) {
    .hobby__img {
        width:49.6%;
    }
    .skills {
    }  
    nav a {
        font-size: 2vw;
        padding: 3ch;
        margin
    }
    nav {
        margin-top: 27vh;
    }
}

@media (max-width: 666px) {
    .skills {
        padding: 3vw 0;
        width: 30vw;
    }  
    .skills__padding {
        padding: 5ch 0 10ch 0ch;
        text-align: center;
    }
    .skills__h {
        margin: 3ch 1ch 1ch 1ch; 
    }
    .contact {
        width: 100%;
        height: 30vh;
    }
    .contact__button {
        background-color: #000000a1;
        border: 1.5px solid rgb(25, 113, 196);
        color: rgb(25, 113, 196);
        font-size: 3vw;
        margin-top: 8ch;
        margin-left: 8ch;
        padding: 3ch 8ch;
        width: 70vw;
    }
    .footer {
        font-size: 4vw;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 12px;
        line-height: 180%;
    }
    .main .o__mnie {
        max-width: 100%;
        font-size: 0.8rem;
        text-align: justify;
    }
    nav {
        margin-top: 0;
        margin-left: 0;
        position: absolute;
        margin-top: 60vh;
    }
    nav a {
        background-color: rgba(0, 0, 0, 0.514);
        border: 1px solid rgb(25, 113, 196);
        font-size: 4vw;
        width: 100vw;
        height: 10vh;
    }
    .header__h {
        background-color: rgba(0, 0, 0, 0.623);
        border: 1px solid rgb(25, 113, 196);
        margin-left: 12vw;
        margin-top: 12vh;
        padding: 10vh 1ch 10vh 1ch;
        width: 75%;
    }
    .header__h h1 {
        font-size: 6vw;
        line-height: 150%;
    }
    .header__h span {
        font-size: 3vw;
    }
    .contact {
        width: 100%;
        height: 20vh;
    }
    .contact__button {
        margin-top: 6ch;
    }
    .footer {
        font-size: 3vw;
        padding: 2ex;
        text-align: center;
        width: 100%;
    }
}

@media (orientation: portrait) {
    .hobby__img {
        width: 100%;
    }
    .img__me {
        width:40vw;
        float: none;
        margin: 0 12vw;
    }
    .o__mnie--h1 {
        margin: 5% 0 0 0 ;
        text-align: center;
    }
    .project__div {
        float: none;
        width: 100%;
    }
}

@media (max-height: 630px) {
    nav {
        margin-top: 0;
        margin-left: 0;
        position: absolute;
        margin-top: 60vh;
    }
    nav a {
        background-color: rgba(0, 0, 0, 0.514);
        border: 1px solid rgb(25, 113, 196);
        font-size: 3vw;
        width: 100vw;
        height: 10vh;
    }
    .header__h {
        background-color: rgba(0, 0, 0, 0.623);
        border: 1px solid rgb(25, 113, 196);
        margin-left: 12vw;
        margin-top: 8vh;
        padding: 10vh 1ch 10vh 1ch;
        width: 75%;
    }
    .header__h h1 {
        font-size: 6vw;
        line-height: 150%;
    }
    .header__h span {
        font-size: 3vw;
    }
    .footer {
        font-size: 3vw;
        padding: 2ex;
        text-align: center;
        width: 100%;
    }
}
