html, body {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

#box {
    background: url(https://cdn3.vectorstock.com/i/1000x1000/16/97/pizza-vector-1141697.jpg);
    background-size: cover;
    height: 40vmin;
    position: relative;
    width: 40vmin;
}

.flag {
    font-size: 4rem;
    left: 5rem;
    position: absolute;
    right: 0;
    top: -2rem;
    transition: all .5s;
}